*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1400px;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}

.section-title::after {
  display: block;
  margin: 0.5em auto 1em;
  content: '';
  width: 50%;
  max-width: 400px;
  border-bottom: 10px solid #ffb72b;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur 2px;
          backdrop-filter: blur 2px;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 20;
}

.nav__overlay--active {
  visibility: visible;
  opacity: 1;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffb72b;
  z-index: 1000;
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.nav__brand {
  padding: 1.2em 0.5em;
  font-size: 1.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav__brand span {
  font-weight: 700;
}

.nav__menu {
  padding-top: 1em;
  display: block;
  position: absolute;
  top: 69px;
  left: 0;
  width: 70%;
  height: calc(100vh - 69px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  background-color: #ffb72b;
  opacity: 0;
  z-index: 1000;
}

.nav__menu--active {
  -webkit-box-shadow: 15px 20px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 20px 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.nav__item {
  list-style: none;
  margin-bottom: 1em;
}

.nav__item-dropdown {
  list-style: none;
  margin-top: 0.5em;
}

.nav__link {
  display: block;
  padding: 0.5em 0.5em;
  margin: 0 1em;
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
  font-weight: 700;
}

.nav__link:hover {
  color: #ffb72b;
  background-color: #000;
}

.nav__link-dropdown {
  display: block;
  padding: 0.5em 0.5em;
  margin: 0 1.5em;
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
  font-weight: 700;
}

.nav__link-dropdown:hover {
  color: #ffb72b;
  background-color: #000;
}

.nav .icon-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__dropdown-icon {
  padding: 0.3em;
  margin-right: 0.2em;
  font-size: 2.5rem;
}

.nav .dropdown-li {
  position: relative;
}

.nav__dropdown, .nav__dropdown-second {
  display: block;
  height: 0px;
  -webkit-transition: height 0.5s, visibility 0.5s;
  transition: height 0.5s, visibility 0.5s;
  overflow-y: auto;
  visibility: hidden;
  z-index: 2000;
}

.nav__dropdown--active, .nav__dropdown-second--active {
  height: calc(30vh - 50px);
  visibility: visible;
}

.desktop__menu {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  list-style: none;
}

.desktop__item {
  display: inline-block;
  vertical-align: middle;
}

.desktop__item-dropdown {
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.desktop__item-dropdown:hover {
  background-color: #ffb72b;
}

.desktop__link {
  padding: 16px 14px 13px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.desktop__link-dropdown {
  display: block;
  padding: 8px 15px 15px 20px;
  width: 100%;
  height: auto;
  line-height: 22px;
  color: #ffb72b;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.1s, padding 0.1s;
  transition: color 0.1s, padding 0.1s;
}

.desktop__link-dropdown:hover {
  color: #000;
}

.desktop__dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 320px;
  top: 30px;
  text-align: left;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #000;
  pointer-events: none;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  list-style: none;
  visibility: hidden;
  opacity: 0;
}

.desktop__dropdown-li {
  position: relative;
}

.desktop__item:hover .desktop__link {
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.1);
}

.desktop__dropdown-li:hover .desktop__dropdown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.desktop__item-dropdown:hover .desktop__link-dropdown {
  padding-left: 30px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1em;
  height: 70vh;
  font-family: 'Hind', sans-serif;
  color: #fff;
  text-shadow: 5px 5px 10px black;
  z-index: 10;
}

.header::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -20;
}

.header__title {
  font-size: 3.7rem;
  text-transform: uppercase;
}

.header__text {
  font-size: 2.3rem;
}

.header__span {
  color: #ffb72b;
}

.aboutus {
  margin: 0 auto;
  padding: 3em 0;
}

.aboutus__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 1em;
  padding: 2em 1.5em;
  width: 330px;
  height: 480px;
  -webkit-box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  background-color: #000;
  color: #fff;
  border-radius: 0.5em;
  overflow: hidden;
  -webkit-transition: background-color 0.45s ease, -webkit-transform 0.45s ease;
  transition: background-color 0.45s ease, -webkit-transform 0.45s ease;
  transition: transform 0.45s ease, background-color 0.45s ease;
  transition: transform 0.45s ease, background-color 0.45s ease, -webkit-transform 0.45s ease;
}

.aboutus__card:hover {
  background-color: #ffb72b;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.aboutus__card:hover .aboutus__card-title {
  color: #000;
  border-bottom-color: #000;
}

.aboutus__card:hover .aboutus__card-text {
  color: #000;
}

.aboutus__card-title {
  margin-bottom: 1em;
  border-bottom: 2px solid #ffb72b;
  font-size: 3.5rem;
  font-weight: 800;
  -webkit-transition: color 0.45s ease, border 0.45s ease;
  transition: color 0.45s ease, border 0.45s ease;
}

.aboutus__card-text {
  line-height: 20px;
  font-size: 1.5rem;
  -webkit-transition: color 0.45s ease;
  transition: color 0.45s ease;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 5rem;
  }
  .header__text {
    font-size: 2.9rem;
  }
  .aboutus {
    padding: 5em 1em;
  }
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav__navbar {
    height: 80px;
  }
  .nav__brand {
    font-size: 2.3rem;
  }
  .nav__overlay {
    display: none;
  }
  .nav__mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 7.2rem;
  }
  .header__text {
    font-size: 3.6rem;
  }
  .aboutus__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutus__card {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

@media (max-width: 992px) {
  .desktop__menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */