// fonts :
// font-family: 'Hind', sans-serif;
// font-family: 'Montserrat', sans-serif;

// basic restart

@import './__colors.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background-color: $mainColor;
}

::selection {
	background-color: $textColor;
	color: $mainColor;
}

// basic classess
.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}

.section-title {
	color: $textColor;
	text-transform: uppercase;
	text-align: center;
	&::after {
		display: block;
		margin: 0.5em auto 1em;
		content: '';
		width: 50%;
		max-width: 400px;
		border-bottom: 10px solid $vmColor;
	}
}

.nav__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(000, 000, 000, 0.6);
	backdrop-filter: blur (2px);
	visibility: hidden;
	transition: opacity 0.3s;
	opacity: 0;
	z-index: 20;
	&--active {
		visibility: visible;
		opacity: 1;
	}
}

// mobile nav

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $vmColor;
	z-index: 1000;

	&__navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
	}

	&__logo {
		height: 35px;
	}

	&__menu {
		padding-top: 1em;
		display: block;
		position: absolute;
		top: 69px;
		left: 0;
		width: 70%;
		height: calc(100vh - 69px);
		transform: translateX(-100%);
		transition: transform 0.3s, opacity 0.3s;
		background-color: $vmColor;
		opacity: 0;
		z-index: 1000;

		&--active {
			box-shadow: 15px 20px 15px rgba(0, 0, 0, 0.2);
			transform: translateX(0);
			opacity: 1;
		}
	}

	&__item {
		list-style: none;
		margin-bottom: 1em;

		&-dropdown {
			list-style: none;
			margin-top: 0.5em;
		}
	}

	&__link {
		display: block;
		padding: 0.5em 0.5em;
		margin: 0 1em;
		color: $textColor;
		border-bottom: 2px solid rgba(0, 0, 0, 0.5);
		font-size: 1.7rem;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.1s, background-color 0.1s;
		font-weight: 700;
		&:hover {
			color: $vmColor;
			background-color: $textColor;
		}
		&-dropdown {
			display: block;
			padding: 0.5em 0.5em;
			margin: 0 1.5em;
			color: $textColor;
			border-bottom: 2px solid rgba(0, 0, 0, 0.3);
			font-size: 1.5rem;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.1s, background-color 0.1s;
			font-weight: 700;
			&:hover {
				color: $vmColor;
				background-color: $textColor;
			}
		}
	}
	.icon-position {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__dropdown-icon {
		padding: 0.3em;
		margin-right: 0.2em;
		font-size: 2.5rem;
	}

	.dropdown-li {
		position: relative;
	}

	&__dropdown,
	&__dropdown-second {
		display: block;
		height: 0px;
		transition: height 0.5s, visibility 0.5s;
		overflow-y: auto;
		visibility: hidden;
		z-index: 2000;

		&--active {
			height: calc(30vh - 50px);
			visibility: visible;
		}
	}
}

// desktop nav

.desktop {
	&__menu {
		position: relative;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 1.5rem;
		font-weight: 700;
		list-style: none;
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		&-dropdown {
			transition: background-color 0.1s;
		}
		&-dropdown:hover {
			background-color: $vmColor;
		}
	}

	&__link {
		padding: 16px 14px 13px;
		color: $textColor;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.1s ease-in-out;
		&-dropdown {
			display: block;
			padding: 8px 15px 15px 20px;
			width: 100%;
			height: auto;
			line-height: 22px;
			color: $vmColor;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.1s, padding 0.1s;
			&:hover {
				color: $textColor;
			}
		}
	}

	&__dropdown {
		position: absolute;
		margin: 0;
		padding: 0;
		width: 320px;
		top: 30px;
		text-align: left;
		box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
		background-color: $textColor;
		pointer-events: none;
		transition: opacity 150ms ease-in-out;
		list-style: none;
		visibility: hidden;
		opacity: 0;
		&-li {
			position: relative;
		}
	}
}

.desktop__item:hover .desktop__link {
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
	background-color: rgba(255, 255, 255, 0.1);
}

.desktop__dropdown-li:hover .desktop__dropdown {
	// transform: translateY(0);
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

.desktop__item-dropdown:hover .desktop__link-dropdown {
	padding-left: 30px;
}

// header

.header {
	margin-top: 70px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 1em;
	height: 70vh;
	font-family: 'Hind', sans-serif;
	color: $mainColor;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
	z-index: 10;
	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -10;
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -20;
	}
	&__title {
		font-size: 3.7rem;
		text-transform: uppercase;
	}
	&__text {
		font-size: 2.3rem;
	}
	&__span {
		color: $vmColor;
	}
}
.pumps-header {
	height: 40vh;
	background-image: url('../img/header/pumps-header.webp');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}

// section aboutus
.aboutus {
	margin: 0 auto;
	padding: 3em 0;
	background-color: $mainColor;

	&__box {
		display: flex;
		flex-direction: column;
	}

	&__img {
		margin: 0 auto;
		width: 100%;
		max-width: 500px;
		order: 1;
	}

	&__list {
		margin-bottom: 1em;
		padding-left: 1.2em;
		&-item {
			position: relative;
			margin-bottom: 0.8em;
			padding-left: 2em;
			list-style-type: none;
			&::before {
				position: absolute;
				display: block;
				content: '';
				top: -2px;
				left: 0;
				height: 11px;
				width: 5px;
				border-width: 0 2px 2px 0;
				border-style: solid;
				border-color: $textColor;
				transform-origin: bottom left;
				transform: rotate(45deg);
			}
		}
	}

	&__text {
		margin-bottom: 1em;
		line-height: 180%;
	}
}

// section features

.features {
	margin: 0 auto;
	padding: 3em 0;
	background-color: $secondaryColor;

	&__boxes {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__card {
		padding: 1em;
		margin-bottom: 1.5em;
		height: 250px;
		width: 265px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-bottom: 4px solid $vmColor;
		border-radius: 5px;
		background-color: $mainColor;
		box-shadow: 0 1.5em 2.5em -0.5em rgba($textColor, 0.2);
		overflow: hidden;
		transition: transform 0.45s ease, background-color 0.45s ease;
		&:hover {
			background-color: $vmColor;
			transform: scale(1.02);
		}

		&-icon {
			margin-top: 1.5em;
			font-size: 4.5rem;
			color: $textColor;
		}
		&-title {
			margin-bottom: 1em;
			font-size: 1.6rem;
			font-weight: 800;
			text-align: center;
			text-transform: uppercase;
			color: $textColor;
		}
	}
}

// section pumps

.pumps {
	margin: 0 auto;
	padding: 3em 0;

	.slide {
		&__container {
			padding: 40px 0;
			max-width: 1400px;
			width: 100%;
		}
		&__content {
			margin: 0 40px;
			overflow: hidden;
			border-radius: 5px;
		}
	}
	&__card {
		padding: 1em 1.5em;
		text-decoration: none;
		color: $textColor;
		background-color: $secondaryColor;
		border-bottom: 4px solid $vmColor;
		border-radius: 5px;
		transition: transform 0.45s ease, background-color 0.45s ease;
		overflow: hidden;
		&:hover {
			transform: scale(0.95);
			background-color: $vmColor;
		}

		&-imagecontent,
		&-content {
			padding: 10px 14px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-imagecontent {
			padding: 25px 0;
		}
		&-imagebox {
			padding: 3px;
			height: 170px;
			width: 170px;
		}
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-title {
			margin-bottom: 1em;
			font-size: 2rem;
			font-weight: 800;
			text-align: center;
		}
		&-subtitle {
			margin-bottom: 0.9em;
			font-size: 1.8rem;
			font-weight: 600;
			text-align: center;
		}

		&-description {
			font-size: 1.7rem;
			text-align: center;
		}
	}
	.swiper-slide {
		height: auto;
	}
	.swiper-navBtn {
		color: $vmColor;
		&::before,
		&::after {
			font-size: 3rem;
		}
	}
	.swiper-button-next {
		right: 0;
	}
	.swiper-button-prev {
		left: 0;
	}
	.swiper-pagination-bullet {
		background-color: $textColor;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		background-color: $vmColor;
	}
}

// section markets

.markets {
	margin: 0 auto;
	padding: 3em 0;
	background-color: $secondaryColor;
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__box {
		position: relative;
		margin-bottom: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		width: 225px;
		height: 225px;
		z-index: 20;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(000, 000, 000, 0.7);
			transition: background-color 0.45s ease;
			border-radius: 20px;
			z-index: 0;
		}
		&:hover {
			box-shadow: 0 1.5em 2.5em -0.5em rgba($textColor, 0.2);
		}
		&:hover::before {
			background-color: rgba($vmColor, 0.8);
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}
	&__title {
		position: absolute;
		color: $mainColor;
		font-size: 1.8rem;
		text-transform: uppercase;
		transition: color 0.45s ease;
	}
	&__box:hover &__title {
		color: $textColor;
	}
}

// section product - pumps subpage

.product {
	margin: 0 auto;
	padding: 3em 0;
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__img {
		margin: 0 auto;
		max-width: 500px;
		width: 100%;
	}
	&__text:first-child {
		margin-top: 1em;
	}
	&__text {
		margin-bottom: 1em;
		line-height: 180%;
	}

	&__list {
		margin-bottom: 1em;
		padding-left: 1.2em;
		&-item {
			position: relative;
			margin-bottom: 0.8em;
			padding-left: 2em;
			list-style-type: none;
			&::before {
				position: absolute;
				display: block;
				content: '';
				top: -2px;
				left: 0;
				height: 11px;
				width: 5px;
				border-width: 0 2px 2px 0;
				border-style: solid;
				border-color: $textColor;
				transform-origin: bottom left;
				transform: rotate(45deg);
			}
		}
	}
}

// section specification - pumps subpage

.specification {
	margin: 0 auto;
	padding: 3em 0;
	background-color: $secondaryColor;
}

// section map
.map {
	iframe {
		height: 30vh;
		width: 100%;
	}
}

// section contact

.contact {
	margin: 0 auto;
	padding: 3em 0;
	background-color: $textColor;
	.section-title {
		color: $mainColor;
	}

	&__boxes {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__box {
		margin-bottom: 2em;
		&-socials {
			order: 2;
		}
		&-logo {
			order: -1;
		}
	}
	&__socials {
		display: flex;
		&-box {
			margin: 0 1em;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-link {
			display: block;
			padding: 1em;
			border: 1px solid rgba($vmColor, 0.6);
			text-decoration: none;
			transition: border-color 0.3s;
			&:hover {
				border-color: $vmColor;
			}
		}

		&-icon {
			font-size: 2rem;
			color: rgba($vmColor, 0.6);
			transition: color 0.3s;
		}
		&-link:hover &-icon {
			color: $vmColor;
		}
	}
	&__address {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&-street {
			padding: 0.5em 1em;
			margin-bottom: 1em;
			font-size: 1.6rem;
			color: $mainColor;
			text-align: center;
		}
		&-info {
			padding: 0.5em 1em;
			margin-bottom: 1em;
			border-bottom: 1px solid rgba($vmColor, 0.6);
			color: rgba($vmColor, 0.6);
			font-size: 1.6rem;
			text-align: center;
			text-decoration: none;
			transition: color 0.3s, border-bottom-color 0.3s;
			&:hover {
				border-bottom-color: $vmColor;
				color: $vmColor;
			}
		}
	}
	&__brand {
		display: flex;
		&-logo {
			width: 250px;
			object-fit: contain;
		}
	}

	&__links {
		margin-bottom: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__link {
		padding: 0.5em 1em;
		margin-bottom: 1em;
		font-size: 1.6rem;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		color: rgba($vmColor, 0.6);
		transition: color 0.3s;
		&:hover {
			color: $vmColor;
		}
	}
}

// footer
.footer {
	background-color: $vmColor;
	text-align: center;
	&__text {
		padding: 1em 2em;
		color: $textColor;
	}
}

// media

@media (min-width: 768px) {
	.header {
		&__title {
			font-size: 5rem;
		}
		&__text {
			font-size: 2.9rem;
		}
	}

	.aboutus,
	.features,
	.pumps,
	.product,
	.specification,
	.markets,
	.contact {
		padding: 5em 1em;
	}
}

@media (min-width: 992px) {
	.hamburger {
		display: none;
	}
	.nav {
		&__navbar {
			height: 80px;
		}
		&__logo {
			height: 60px;
		}
		&__overlay {
			display: none;
		}
		&__mobile {
			display: none;
		}
	}
	.header {
		margin-top: 80px;
	}
	.aboutus {
		&__box {
			margin-top: 3em;
			flex-direction: row;
			align-items: center;
		}
		&__img {
			margin-top: 0;
			margin-right: 5em;
			max-width: 400px;
			order: -1;
		}
	}

	.features {
		&__boxes {
			margin-top: 3em;
			flex-direction: row;
		}
		&__card {
			margin-right: 1.5em;
			height: 250px;
			width: 300px;
		}
	}
	.markets {
		&__boxes {
			margin-top: 3em;
			flex-direction: row;
		}
		&__box {
			margin-right: 1.5em;
		}
	}
	.product {
		&__boxes {
			margin-top: 3em;
			flex-direction: row;
			align-items: center;
		}
		&__img {
			margin-top: 0;
			margin-right: 5em;
			max-width: 400px;
		}
		&__text:first-child {
			margin-top: 0;
		}
	}

	.contact {
		&__boxes {
			margin: 3em 0 2em 0;
			flex-direction: row;
			justify-content: space-between;
		}
		&__address {
			&-street,
			&-info {
				text-align: start;
			}
		}

		&__box {
			margin-bottom: 0;
			&-socials {
				order: 2;
			}

			&-logo {
				order: 1;
			}
		}
		&__links {
			margin-bottom: 0;
			flex-direction: row;
		}

		&__link {
			padding: 0.5em 1em;
			margin-bottom: 0;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__title {
			font-size: 7.2rem;
		}
		&__text {
			font-size: 3.6rem;
		}
	}
}

@media (max-width: 992px) {
	.desktop__menu {
		display: none;
	}
}

@media (max-width: 1300px) {
	.markets {
		&__boxes {
			flex-wrap: wrap;
		}
	}
}
