// basic restart

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}

// basic classess
.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}

// nav

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ddd;
	z-index: 1000;
	border-bottom: 4px solid #ffb72b;

	&__navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}

	&__brand {
		span {
			font-weight: 700;
		}
		padding: 1.5em 0.5em;
		font-size: 1.9rem;
		text-decoration: none;
		text-transform: uppercase;
		color: #000;
	}

	&__menu {
		position: absolute;
		top: 80px;
		left: 0;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		width: 70%;
		height: calc(100vh - 80px);
		transform: translateX(-100%);
		transition: transform 0.3s, opacity 0.3s;
		background-color: #ffb72b;
		opacity: 0;
		z-index: 1000;
		overflow-y: scroll;

		&--active {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			transform: translateX(0);
			opacity: 1;
		}
	}

	&__item {
		border-bottom: 1px solid #000;
		width: 100%;
		list-style: none;

		&-dropdown {
			list-style: none;
			margin-top: 1.5em;
		}
	}

	&__link {
		margin: 0.5em 0 0.5em 0;
		padding: 1em 0 1em 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #000;
		font-size: 1.9rem;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		&-dropdown {
			margin: 0.5em 0 0.5em 0;
			padding: 1em 0 1em 1em;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #000;
			font-size: 1.9rem;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	&__dropdown-icon {
		margin-right: 0.5em;
		font-size: 3rem;
		transition: 0.3s;
	}

	&__dropdown {
		margin-left: 0.5em;
		display: none;
		transform: translateY(-100%);
		transition: transform 0.3s, opacity 0.3s;
		opacity: 0;

		&--active {
			display: block;
			transform: translateY(0);
			opacity: 1;
		}
	}
}

// .dropdown:hover > .nav__dropdown {
// 	display: block;
// }

// .dropdown:hover .nav__dropdown-icon {
// 	transform: rotate(180deg);
// }

.nav__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(000, 000, 000, 0.6);
	backdrop-filter: blur (2px);
	visibility: hidden;
	transition: opacity 0.3s;
	opacity: 0;
	z-index: 1;
	&--active {
		visibility: visible;
		opacity: 1;
	}
}
